#include "mtk64.dtsi"
#include "mtk64_trackball.dtsi"

/ {
    /* ドングルはキー行列スキャン不要。XIAO依存の /kscan が落ちるので削除 */
    /delete-node/ /kscan;
};

&default_transform {
    row-offset = <14>;
};

&trackball_listener {
    status = "okay";
};
